# DATA CLEANING
Data Cleaning o Limpieza de datos es el primer paso para hacer *machine learning*.

In [6]:
import pandas as pd
import os

In [7]:
mainpath = "C://Users/egt_d/PROYECTO_MINSUP_UNCP/machine_learning/datasets"
filepath = "Estimacion_Recursos/Samp_Esperanza.csv"
fullpath = os.path.join(mainpath, filepath)

In [8]:
df = pd.read_csv(fullpath)

In [9]:
df.head()

,X,Y,Z,BHID,LENGTH,A0,B0,C0,FROM,TO,Zn,Ag,Pb,RADIUS
0,1697.682161,4963.496673,2176.795399,DDH-001,1.08,295.271669,-24.229835,0,89.42,90.50,20.849644,7.812,6.532,1
1,1697.001840,4963.817848,2177.133977,DDH-001,0.57,295.271669,-24.229835,0,90.50,91.07,15.211116,1.944,0.604,1
2,1696.354504,4964.123450,2177.456140,DDH-001,1.00,295.271669,-24.229835,0,91.07,92.07,7.680000,1.648,0.368,1
3,1721.974638,4977.965650,2176.215040,DDH-002,1.16,314.028978,-27.552286,0,77.86,79.02,19.700496,1.716,2.748,1
4,1721.557110,4978.369260,2176.518015,DDH-002,0.15,314.028978,-27.552286,0,79.02,79.17,2.160000,0.068,0.024,1

In [10]:
df.columns

Index(['X', 'Y', 'Z', 'BHID', 'LENGTH', 'A0', 'B0', 'C0', 'FROM', 'TO', 'Zn',
       'Ag', 'Pb', 'RADIUS'],
      dtype='object')

## DATASETS SIN CABECERA

In [18]:
df2 = pd.read_csv(mainpath + "/" +  "Estimacion_Recursos/samp_Esperanza_SC.csv", header=None)

In [19]:
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1697.682161,4963.496673,2176.795399,DDH-001,1.08,295.271669,-24.229835,0,89.42,90.50,20.849644,7.812000,6.532,1
1,1697.001840,4963.817848,2177.133977,DDH-001,0.57,295.271669,-24.229835,0,90.50,91.07,15.211116,1.944000,0.604,1
2,1696.354504,4964.123450,2177.456140,DDH-001,1.00,295.271669,-24.229835,0,91.07,92.07,7.680000,1.648000,0.368,1
3,1721.974638,4977.965650,2176.215040,DDH-002,1.16,314.028978,-27.552286,0,77.86,79.02,19.700496,1.716000,2.748,1
4,1721.557110,4978.369260,2176.518015,DDH-002,0.15,314.028978,-27.552286,0,79.02,79.17,2.160000,0.068000,0.024,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,1920.943128,5108.682126,2252.280000,DDH-130,1.52,355.000000,0.000000,0,38.10,39.62,13.722800,3.968320,0.484,1
730,1945.310884,5114.963650,2252.280000,DDH-131,0.83,25.000000,0.000000,0,49.23,50.06,5.460000,1.940068,0.228,1
731,1897.218514,5097.168486,2252.430000,DDH-132,0.51,355.000000,0.000000,0,22.48,22.99,9.780000,1.366864,0.512,1
732,1897.168835,5097.736317,2252.430000,DDH-132,0.63,355.000000,0.000000,0,22.99,23.62,3.360000,0.529108,0.136,1
733,1897.094753,5098.583083,2252.430000,DDH-132,1.07,355.000000,0.000000,0,23.62,24.69,13.341456,2.160528,1.592,1

In [20]:
mainpath = "C://Users/egt_d/PROYECTO_MINSUP_UNCP/machine_learning/datasets"
filepath = "Estimacion_Recursos/samp_Esperanza_ColumnsNames.csv"
fullpath = os.path.join(mainpath, filepath)

df3 = pd.read_csv(fullpath)
df3

   Column_Names
0             X
1             Y
2             Z
3          BHID
4        LENGHT
5            AO
6            BO
7            CO
8          FROM
9            TO
10           Zn
11           Ag
12           Pb
13       RADIUS

In [27]:
columns = df3["Column_Names"].tolist()
columns

['X',
 'Y',
 'Z',
 'BHID',
 'LENGHT',
 'AO',
 'BO',
 'CO',
 'FROM',
 'TO',
 'Zn',
 'Ag',
 'Pb',
 'RADIUS']

In [28]:
df2 = pd.read_csv(mainpath + "/" +  "Estimacion_Recursos/samp_Esperanza_SC.csv", header=None, names=columns)

In [29]:
df2.head()

,X,Y,Z,BHID,LENGHT,AO,BO,CO,FROM,TO,Zn,Ag,Pb,RADIUS
0,1697.682161,4963.496673,2176.795399,DDH-001,1.08,295.271669,-24.229835,0,89.42,90.50,20.849644,7.812,6.532,1
1,1697.001840,4963.817848,2177.133977,DDH-001,0.57,295.271669,-24.229835,0,90.50,91.07,15.211116,1.944,0.604,1
2,1696.354504,4964.123450,2177.456140,DDH-001,1.00,295.271669,-24.229835,0,91.07,92.07,7.680000,1.648,0.368,1
3,1721.974638,4977.965650,2176.215040,DDH-002,1.16,314.028978,-27.552286,0,77.86,79.02,19.700496,1.716,2.748,1
4,1721.557110,4978.369260,2176.518015,DDH-002,0.15,314.028978,-27.552286,0,79.02,79.17,2.160000,0.068,0.024,1

## CARGA DE DF CON FUNCIÓN OPEN

In [62]:
data = open(mainpath + "/" + "Estimacion_Recursos/MBOK.txt", "r")

In [63]:
cols = data.readline().strip().split(";")
cols
ncols = len(cols)

In [64]:
ncols

19

In [65]:
counter = 0
main_dic = {}

for col in  cols:
    main_dic[col] = []
    
    
main_dic

{'IJK': [],
 'XC': [],
 'YC': [],
 'ZC': [],
 'XINC': [],
 'YINC': [],
 'ZINC': [],
 'XMORIG': [],
 'YMORIG': [],
 'ZMORIG': [],
 'NX': [],
 'NY': [],
 'NZ': [],
 'SG': [],
 'AU': [],
 'AG': [],
 'CLASS': [],
 'VOL': [],
 'TON': []}

In [68]:
for line in data:
    values = line.strip().split(";")
    for i in range(ncols):
        main_dic[cols[i]].append(values[i])
    counter += 1

print(f"El dataframe tiene {counter} filas y {ncols} columnas")

El dataframe tiene 21460 filas y 19 columnas

In [69]:
df3 = pd.DataFrame(main_dic)

In [70]:
df3.head(5)

,IJK,XC,YC,ZC,XINC,YINC,ZINC,XMORIG,YMORIG,ZMORIG,NX,NY,NZ,SG,AU,AG,CLASS,VOL,TON
0,2978962,775837.5,9107797.5,3572.5,5,5,5,775330,9106460,3160,371,273,107,2.37,0.829,19.4,3,125,296.25
1,2979069,775837.5,9107802.5,3572.5,5,5,5,775330,9106460,3160,371,273,107,2.37,0.829,19.4,3,125,296.25
2,2979070,775837.5,9107802.5,3577.5,5,5,5,775330,9106460,3160,371,273,107,2.37,0.829,19.3,3,125,296.25
3,2979178,775837.5,9107807.5,3582.5,5,5,5,775330,9106460,3160,371,273,107,2.37,0.829,19.3,3,125,296.25
4,2979179,775837.5,9107807.5,3587.5,5,5,5,775330,9106460,3160,371,273,107,2.37,0.829,19.3,3,125,296.25

## ALGUNOS PARAMETROS IMPORTANTES

In [53]:
df

,X,Y,Z,BHID,LENGTH,A0,B0,C0,FROM,TO,Zn,Ag,Pb,RADIUS
0,1697.682161,4963.496673,2176.795399,DDH-001,1.08,295.271669,-24.229835,0,89.42,90.50,20.849644,7.812000,6.532,1
1,1697.001840,4963.817848,2177.133977,DDH-001,0.57,295.271669,-24.229835,0,90.50,91.07,15.211116,1.944000,0.604,1
2,1696.354504,4964.123450,2177.456140,DDH-001,1.00,295.271669,-24.229835,0,91.07,92.07,7.680000,1.648000,0.368,1
3,1721.974638,4977.965650,2176.215040,DDH-002,1.16,314.028978,-27.552286,0,77.86,79.02,19.700496,1.716000,2.748,1
4,1721.557110,4978.369260,2176.518015,DDH-002,0.15,314.028978,-27.552286,0,79.02,79.17,2.160000,0.068000,0.024,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,1920.943128,5108.682126,2252.280000,DDH-130,1.52,355.000000,0.000000,0,38.10,39.62,13.722800,3.968320,0.484,1
730,1945.310884,5114.963650,2252.280000,DDH-131,0.83,25.000000,0.000000,0,49.23,50.06,5.460000,1.940068,0.228,1
731,1897.218514,5097.168486,2252.430000,DDH-132,0.51,355.000000,0.000000,0,22.48,22.99,9.780000,1.366864,0.512,1
732,1897.168835,5097.736317,2252.430000,DDH-132,0.63,355.000000,0.000000,0,22.99,23.62,3.360000,0.529108,0.136,1
733,1897.094753,5098.583083,2252.430000,DDH-132,1.07,355.000000,0.000000,0,23.62,24.69,13.341456,2.160528,1.592,1

In [54]:
df.head(5)

,X,Y,Z,BHID,LENGTH,A0,B0,C0,FROM,TO,Zn,Ag,Pb,RADIUS
0,1697.682161,4963.496673,2176.795399,DDH-001,1.08,295.271669,-24.229835,0,89.42,90.50,20.849644,7.812,6.532,1
1,1697.001840,4963.817848,2177.133977,DDH-001,0.57,295.271669,-24.229835,0,90.50,91.07,15.211116,1.944,0.604,1
2,1696.354504,4964.123450,2177.456140,DDH-001,1.00,295.271669,-24.229835,0,91.07,92.07,7.680000,1.648,0.368,1
3,1721.974638,4977.965650,2176.215040,DDH-002,1.16,314.028978,-27.552286,0,77.86,79.02,19.700496,1.716,2.748,1
4,1721.557110,4978.369260,2176.518015,DDH-002,0.15,314.028978,-27.552286,0,79.02,79.17,2.160000,0.068,0.024,1

In [55]:
df.tail(5)

,X,Y,Z,BHID,LENGTH,A0,B0,C0,FROM,TO,Zn,Ag,Pb,RADIUS
729,1920.943128,5108.682126,2252.28,DDH-130,1.52,355.0,0.0,0,38.10,39.62,13.722800,3.968320,0.484,1
730,1945.310884,5114.963650,2252.28,DDH-131,0.83,25.0,0.0,0,49.23,50.06,5.460000,1.940068,0.228,1
731,1897.218514,5097.168486,2252.43,DDH-132,0.51,355.0,0.0,0,22.48,22.99,9.780000,1.366864,0.512,1
732,1897.168835,5097.736317,2252.43,DDH-132,0.63,355.0,0.0,0,22.99,23.62,3.360000,0.529108,0.136,1
733,1897.094753,5098.583083,2252.43,DDH-132,1.07,355.0,0.0,0,23.62,24.69,13.341456,2.160528,1.592,1

In [56]:
df.columns

Index(['X', 'Y', 'Z', 'BHID', 'LENGTH', 'A0', 'B0', 'C0', 'FROM', 'TO', 'Zn',
       'Ag', 'Pb', 'RADIUS'],
      dtype='object')

In [57]:
df.describe()

,X,Y,Z,LENGTH,A0,B0,C0,FROM,TO,Zn,Ag,Pb,RADIUS
count,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.0,734.000000,734.000000,734.000000,734.000000,734.000000,734.0
mean,1831.858613,5009.365836,2058.674431,0.762003,254.615988,5.126752,0.0,109.160708,109.922711,13.196603,2.058828,1.499127,1.0
std,83.100127,38.716808,115.043644,0.251346,115.039827,19.230148,0.0,51.657493,51.642547,7.322328,2.799116,1.849942,0.0
min,1598.525178,4886.327279,1782.791462,0.150000,0.203530,-33.123529,0.0,0.450000,0.750000,0.006000,0.004000,0.001600,1.0
25%,1772.151834,4980.057423,1988.416752,0.570000,187.762934,-10.910126,0.0,71.675000,72.362500,10.117343,0.476771,0.160482,1.0
50%,1844.343156,5007.739969,2037.295183,0.800000,311.374299,7.780319,0.0,103.675000,104.525000,13.625690,1.209036,0.808600,1.0
75%,1877.548348,5035.472945,2175.753782,1.000000,330.689993,18.637664,0.0,145.032500,145.650000,18.337826,2.569760,2.103723,1.0
max,2068.161102,5155.386663,2317.280000,1.550000,359.784448,51.274051,0.0,530.500000,530.800000,29.936747,28.016660,13.421196,1.0

In [59]:
df.shape

(734, 14)

## GRAFICAS CON MATPLOTLI.PYTPLOT